/*==========================================================
    Project Name: Awesome carousel style one
    Created By: Noor alam
    Author uri: https://themeforest.net/user/noor-alam
    Author Description: I am available for freelancing job
    Website: http://awesomebootstrap.net
    Version: 1.0
============================================================*/
/*Default css*/
body{
	font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    background-color: #080808;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-moz-selection {
    background: #F0AD4E;
    text-shadow: none;
	color:#fff;
}
::selection {
    background: #F0AD4E;
    text-shadow: none;
	color:#fff;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

img {
	max-width:100%;
    height:auto;
}
.img-centered {
  margin: 0 auto;
}
.fix {
	overflow:hidden;
}

hr.line {
	background: #f5f5f5 none repeat scroll 0 0;
	border: 0 none;
	height: 1px;
	margin: 0 auto;
	width: 100px;
}
.center-me{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.clear{
	clear:both
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:focus,
textarea:focus {
	outline: 0px;
}
/*==========
 Link style
============== */
a {
    color: #ffffff;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	line-height: 1;
}
a,a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
i{color:#E4B267}
/*============
 Transition
=============== */
a,
i,
.navbar a,
.form-control {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
/*============ 
[ 2. Typography ]
==========================*/
p{
	font-family: 'Poppins', sans-serif;
	color: #ededed;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 0 15px;
  text-transform: uppercase;
}
h1 {
    font-size: 40px;
	font-weight: 700;
}
h2 {
    font-size: 32px;
	font-weight: 700;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 13px;
}
/*End default css*/
/*Carousel fade effect style*/
.carousel-fade .carousel-inner .item {
            -webkit-transition-property: opacity;
            transition-property: opacity;
        }
.carousel-fade .item,
.carousel-fade .active.left,
.carousel-fade .active.right {
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }

.carousel-fade .active,
.carousel-fade .next.left,
.carousel-fade .prev.right {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }

.carousel-fade .next,
.carousel-fade .prev,
.carousel-fade .active.left,
.carousel-fade .active.right {
            left: 0;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
        }
.carousel-fade .carousel-control {
        z-index: 2;
    }




/*--------------------------------
[ Awesome carousel default style  ]
-----------------------------------*/
.left-text {
  margin-left: 20%;
  text-align: left;
}
img.bg-img ,
.tslide1 img{
  background-position: center center;
  background-size: cover;
  min-height: 600px;
  width: 100%;
}

.item {
    position: relative;
}
.posi-abs{ 
    position:absolute;
    z-index: -1;
}
.item .carousel-caption {
  text-align: center;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom:0
}
.carousel-caption iframe {
  max-width:100%;
  min-height: 600px;
}
.carousel-inner .item .carousel-caption{ 
    display:none;
}
.carousel-inner .item.active .carousel-caption{ 
    display:block
}

/*Thumbnail Carousel style start*/

/*slider one style*/
.cap-text {
  margin-top: 10%;
  width:100%;
}
.vslide1,
.vslide2,
.vslide3{ 
    width:100%;
    height:100%;
    top:0;
    left:0
}
.carousel-inner .item.active .carousel-caption .vslide1 {
    -webkit-animation:bounceInLeft 1000ms ease-in-out;
    animation: bounceInLeft 1000ms ease-in-out;
}
.carousel-inner .item.active .carousel-caption .vslide2 {
    -webkit-animation: bounceInUp 1000ms ease-in-out;
    animation: bounceInUp 1000ms ease-in-out;
}

.carousel-inner .item.active .carousel-caption .vslide3 {
    -webkit-animation: bounceInDown 1000ms ease-in-out;
    animation: bounceInDown 1000ms ease-in-out;
}


