@using LOG.Models

@{
    var type = Convert.ToInt16(ViewBag.Type);

}

<section class="appear clearfix">

    <div class="container">

        <div class="row mar-bot40 title">

            <br />
            <br />

            @{
                if (type == About.Mission)
                {
                <div>Mission</div>
                }

                if (type == About.WhoWeAre)
                {
                <div class="text-center">
                    <h2>Pastor's Testimony</h2>
                    
                </div>
                    
                <div style="text-align: left">

                    <b>My full name is Madan Mohan Burra (Mohan Paul) and my native place is Tanuku, West
Godavari District in Andhra Pradesh state, India
Born in June, 1982 I am the eldest son of my parents. My father is an employee and my mother
is a home maker. I have one younger brother and two younger sisters and of the 2 sisters one is
married.<br />
                        <br />
                        I was very an undisciplined boy in my primary school studies. At that time I met with a
fire accident and I was facing death but God saved me.
When I entered into the Intermediate college stage, I decided to take baptism, but that
was postponed.<br /><br /> 
                        While I was studying B.Sc degree, God visited me through his WORD from Rev. 3:19-20.
Immediately I confessed my sins at the feet of Lord Jesus Christ and took baptism by Bro.
Sunder Singh (Servant of God) on 9-1- 2000. My pastor Bro. Sunder Singh is a co-worker of Bro,
Bhakth Singh, founder of Hebron, Hyd.
                   After completion of my baptism, I could not understand the Bible for two years.<br /><br />  When I
was studying P.G in Andhra University, I was in a Hebron church. At that time, God revealed his
WORD as to how to understand and preach it….
                    After completion of my studies, I came from Tanuku to Hyderabad seeking a job in
2004. God provided an opportunity to work in FIC MNC BPO Company, 2005 to start with. My
career kept progressing and finally I worked in Cognizant Technology Services as Senior
Process Associate and nature of work involved mortgaging of loans.<br />
                        <br />

                        While I was doing job, I joined AP Bible College in 2010 as a day scholar and obtained
my B.Th certificate in 2013(AP Bible College is a part of Assemblies of God). I resigned my job
on 12-12- 2012 and waited up on God’s calling and guidance for 21 days (Fasted in Prayer). God
spoke with me that your calling is pastoral calling and opened His doors to do His ministry in
Ameerpet, Hyderabad.I started church ministry on 7-4- 2013 with 8 members, now church strength is 110
members , out of which 31 members accepted Jesus as the fruit of my Ministry and took
baptism.</b><br />
                    <br />
                    <b>My Blessings:
God blessed me in spiritual way like this</b>
                    <br />
                    <ul style="font-weight: bold;">
                        <li>Established LOG Church in Ameerpet, Hyderabad</li>
                        <li>I participated in many Gospel camps</li>
                        <li>Wrote “3” Gospel Tracts</li>
                        <li>Composed “58” Christian songs</li>
                        <li>Playing some musical Instrument and singing the songs</li>
                        <li>Ministered among B.SC and G.N.M nursing students for 1 .5 years.</li>
                    </ul>

                    <div class="text-center"><b>To God be all the Glory.</b></div>


                </div>
                }

            }
        </div>
    </div>
</section>
