@using LOG.Models
@model  IEnumerable<LOG.Models.UploadModel>

<style type="text/css">
    #uploadTbody a {
        text-decoration: underline;
    }

    #uploadTbody img:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>


<div class="container">
    <div class="row mar-bot40" style="padding-top: 150px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Our Church Memorable Moments</b>
            </div>
            <div class="panel-body">
                <table class="table table-fixed">

                    <tbody id="uploadTbody">

                        <tr class="col-xs-12">
                            <td>

                                @foreach (var item in Model)
                                {   
                                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">

                                        <img src="~/Gallery/@(Path.GetFileName(item.FilePath))" width="550" height="400" style="padding:5px" alt="Image not found" />
                                    </div>
                                }
                            </td>


                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
