<div class="slider">
    <div id="about-slider">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-xs">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/img/1.jpg" class="img-responsive" alt="">
                </div>

                <div class="item">
                    <img src="~/img/2.jpg" class="img-responsive" alt="">
                  @*  <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                            <h2></h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p></p>
                            </div>
                        </div>
                      
                    </div>*@
                </div>
            </div>

            <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>

            <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
</div>
<!--/#slider-->

<!--welcome-->
<section id="welcome" class="appear clearfix">
    <div class="container">
        <div class="about">
            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="title">
                        <div class="wow bounceIn">

                            <h2 class="section-heading animated" data-animation="bounceInUp">Pastor's Welcome</h2>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="row-slider">
                    @*  <div class="col-lg-6 mar-bot30">
                            <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                                <div class="slides" data-group="slides">
                                    <ul>

                                        <div class="slide-body" data-group="slide">
                                            <li>
                                                <img alt="" class="img-responsive" src="img/9.jpg" width="100%" height="350" /></li>
                                            <li>
                                                <img alt="" class="img-responsive" src="img/10.jpg" width="100%" height="350" /></li>
                                            <li>
                                                <img alt="" class="img-responsive" src="img/11.jpg" width="100%" height="350" /></li>

                                        </div>
                                    </ul>
                                    <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                                    <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>

                                </div>
                            </div>
                        </div>*@

                    <div class="col-lg-12 ">
                        <div class="company mar-left10">
                            <h4>Our Company has created 1928 morbi leo risus, porta ac consectetur ac, <span>vestibulum </span>at eros.</h4>
                            <p>
                                Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Fusce dapibus, tellus ac cursus etiam porta sem malesuada magna mollis euismod. commodo, Faccibus mollis interdum. Morbi leo risus, porta ac, vestibulum at eros.
                  Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Fusce dapibus, tellus ac.
                            </p>
                        </div>
                        <div class="list-style">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>Sollicitudin Vestibulum</li>
                                        <li>Fermentum Pellentesque</li>
                                        <li>Sollicitudin Vestibulum</li>
                                        <li>Nullam id dolor id nibh</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>Sollicitudin Vestibulum</li>
                                        <li>Fermentum Pellentesque</li>
                                        <li>Sollicitudin Vestibulum</li>
                                        <li>Nullam id dolor id nibh</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!--/welcome-->

<!-- about -->
<section id="about" class="section pad-bot5 bg-white appear">
    <div class="container">
        <div class="row mar-bot5">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <div class="wow bounceIn" data-animation-delay="7.8s">

                        <h2 class="section-heading animated">Our Service</h2>
                        <h4>Neque porro quisquam est, qui dolorem ipsum quia dolor.</h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="wow bounceIn">
                    <div class="align-center">

                        <div class="wow rotateIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-cog"></i></figure>
                                </div>
                                <h2><a href="#">Easy to Customize</a></h2>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <div class="wow bounceIn">

                        <div class="wow rotateIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-desktop"></i></figure>
                                </div>
                                <h2><a href="#">Responsive Layout</a></h2>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <div class="wow bounceIn">
                        <div class="service-col">
                            <div class="service-icon">
                                <figure><i class="fa fa-dropbox"></i></figure>
                            </div>
                            <h2><a href="#">Ready to Use</a></h2>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--/about-->

<!-- ministries -->
<section id="ministries" class="section pad-bot5 bg-white appear">
    <div class="container">
        <div class="row mar-bot5">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <div class="wow bounceIn" data-animation-delay="7.8s">

                        <h2 class="section-heading animated">Our Service</h2>
                        <h4>Neque porro quisquam est, qui dolorem ipsum quia dolor.</h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="wow bounceIn">
                    <div class="align-center">

                        <div class="wow rotateIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-cog"></i></figure>
                                </div>
                                <h2><a href="#">Easy to Customize</a></h2>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <div class="wow bounceIn">

                        <div class="wow rotateIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-desktop"></i></figure>
                                </div>
                                <h2><a href="#">Responsive Layout</a></h2>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <div class="wow bounceIn">
                        <div class="service-col">
                            <div class="service-icon">
                                <figure><i class="fa fa-dropbox"></i></figure>
                            </div>
                            <h2><a href="#">Ready to Use</a></h2>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--/ministries-->

<!-- gallery -->
<section id="gallery" class="section pad-bot5 bg-white appear">
    <div class="container">
        <div class="row mar-bot5">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <div class="wow bounceIn" data-animation-delay="7.8s">

                        <h2 class="section-heading animated">Our Service</h2>
                        <h4>Neque porro quisquam est, qui dolorem ipsum quia dolor.</h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="wow bounceIn">
                    <div class="align-center">

                        <div class="wow rotateIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-cog"></i></figure>
                                </div>
                                <h2><a href="#">Easy to Customize</a></h2>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <div class="wow bounceIn">

                        <div class="wow rotateIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-desktop"></i></figure>
                                </div>
                                <h2><a href="#">Responsive Layout</a></h2>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <div class="wow bounceIn">
                        <div class="service-col">
                            <div class="service-icon">
                                <figure><i class="fa fa-dropbox"></i></figure>
                            </div>
                            <h2><a href="#">Ready to Use</a></h2>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--/gallery-->

<!-- contact -->
<section id="contact" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="UserName" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="ContactNo" class="form-control" id="mobile" placeholder="Your Contact No" data-rule="phoneno" data-msg="Please enter a valid number" />
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" name="EmailId" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject" data-rule="minlen:8" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="line-btn green">Send Message</button>
                    </div>
                </form>
            </div>
            <!-- ./span12 -->
        </div>

    </div>
</section>
<!--/contact-->

<!-- map -->
<section id="section-map" class="clearfix">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.573334973433!2d78.44365311425237!3d17.432251806099426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90cea52c6941%3A0xcf13a11650a7b5d8!2sLOG+Temple!5e0!3m2!1sen!2sin!4v1516103705108" height="400" style="width: 100%" frameborder="0" style="border: 0" allowfullscreen></iframe>
</section>
<!--/map-->




