@using LOG.Models
@model  IEnumerable<LOG.Models.UploadModel>

<style type="text/css">
    #uploadTbody a {
        text-decoration: underline;
    }
</style>


<div class="container">
    <div class="row mar-bot40" style="padding-top: 150px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>God's Messages</b>
            </div>
            <div class="panel-body">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-4">Title</th>
                            <th class="col-xs-2">Type</th>
                            <th class="col-xs-6"></th>
                        </tr>
                    </thead>

                    <tbody id="uploadTbody">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-xs-4">@item.Title</td>
                                <td class="col-xs-2">@(Upload.GetUploadType(item.UploadType))</td>
                                <td class="col-xs-6 text-center">


                                    @switch (Convert.ToInt16(item.UploadType))
                                    {

                                        case Upload.Tract:

                                        <a href="~/Gallery/@( Path.GetFileName(item.FilePath))" target="_blank"><span class="fa fa-file-pdf-o"></span>@item.Title</a>

                                            break;

                                        case Upload.Audio:
                                        <audio src="~/Gallery/@( Path.GetFileName(item.FilePath))" controls="controls">@item.Title</audio>
                                            break;

                                        case Upload.Vedio:
                                        <video controls="controls">

                                            <source src="~/Gallery/@(Path.GetFileName(item.FilePath))"/>
                                        </video>
                                            break;

                                    }



                                </td>


                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
