<div class="container">
    <div class="row mar-bot40" style="padding-top: 150px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Our Church Ministries</b>
            </div>
            <div class="panel-body">
                <table class="table table-fixed">
                    <tbody>
                        <tr>
                            <td>
                                <h2>Sunday Worship Service</h2>
                                <ul>
                                    <li><b>First Service &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 7AM to 9AM &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;-Telugu</b>  </li>
                                    <li><b> Second Service&nbsp;:&nbsp;&nbsp; 11AM to 1PM &nbsp;&nbsp;&nbsp;&nbsp;-Telugu </b> </li>
                                    <li><b> Sunday School&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; 9:30AM to 11AM  </b> </li>
                                </ul>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h2>Wednesday Prayer</h2>

                                <span>
                                    <b>   Every Wednesday Evening we are having prayer from 7:30PM to 9PM</b>
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h2>Monthly First Saturday</h2>

                                <span><b> Every Month First Saturday we are having All Night Prayer from  9PM-2AM </b></span>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
